@model IEnumerable<Sach_Online.Models.SACH>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<head>
    <style>
        body {
            background-color: #E0F7FA; /* Xanh lá cây nhạt */
            color: #333333; /* Màu chữ xám đậm */
        }


        .thumbnail img {
            height: 200px; /* hoặc bất kỳ chiều cao nào bạn muốn */
            width: auto;
        }
    </style>
</head>
<h2 class="text-center">Sách Mới</h2>
<hr>
<div class="row text-center">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="~/Images/@item.AnhBia" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook" style="width:450px; height:auto;">
                <div class="caption">
                    <h4 style="min-height: 70px">
                        <a href="@Url.Action("BookDetail", "SachOnline", new {id = item.MaSach})">@item.TenSach</a>
                    </h4>
                    <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Add to cart</a></p>
                </div>
            </div>
        </div>
    }
</div>
<nav class="text-center">
    <ul class="pagination">
        <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="disabled"><a href="#">5</a></li>
        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
    </ul>
</nav>

<div>
    @section SachBanNhieu {
        @Html.Action("SachBanNhieuPartical", "SachOnline")
    }
</div>
